.container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .container button {
    border: none;
    outline: none;
    font-weight: 800;
    border-radius: 0.8rem;
    width: 50%;
    height: 3vw;
    margin: 1rem auto;
    opacity: 0.8;
    color: #fff;
    background-color: #358597;

  }

  .container button:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.1);
    transition: all 0.1s;
    color: #358597;
    background-color: #F2A896;
    text-transform: uppercase;
  }