.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 1.5rem;
    margin-top: 0.5rem;
  }
  .vid {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
  }

  .vid::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0,0,0,0.6);
    pointer-events: none;
  }

  .list {
    background: rgb(242, 168, 150, 0.5);
    display: flex;
    flex-direction: column;
    flex: 3 0;
    justify-content: space-evenly;
    border: 1px solid #ffbbbb;
    border-radius: 1rem;
    list-style-type: none;
    margin: 0.5rem;
    padding: 0;
  }

  .list li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #e4e4e4;
  }

  .list li:last-child {
    border: none;
  }

  .list li img {
    width: 5rem;
    height: 5rem;
    border-radius: 100rem;
    object-fit: cover;
  }

  .list li div {
    padding: 1rem;
  }

  .list li div:not(:first-child) {
    flex-basis: 18%;
  }

  .list li select {
    width: 3rem;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgrey;
    font-size: 1.1rem;
    font-weight: 100;
  }

  .list .remove_button {
    border-radius: 1rem;
    border: none;
    padding: 0.5rem;
    color: #e72929;
    opacity: 0.7;
    outline: none;
  }

  .list .remove_button:hover {
    opacity: 1;
    cursor: pointer;
  }

  .total_price {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }

  .total_price p {
    color: #e72929;
  }

  .total_price p span {
    color: #008000;
  }

  .checkout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 3;
    height: 25rem;
    border: 1px solid #ffbbbb;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    background: rgba(0,0,0,0.6);

  }

  .checkout > div {
    font-size: 1.4rem;
    margin: 1rem;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .checkout .foods_count {
    margin-bottom: 1.5rem;
    color: yellow;
  }

  .checkout .foods_count::before {
    content: 'Count: ';
    color: #fff;
  }

  .checkout .total_price::before {
    content: 'Price: ';
    color: #e72929;
  }

  .checkout a {
    padding: 1rem;
    color: #F2A896;
    background: #358597;
    display: block;
    width: 99%;
    border-radius: 1rem;
    text-align: center;
    justify-self: center;
  }

  .checkout a:hover {
    opacity: 0.8;
    cursor: pointer;
    background-color: #e72929;
  }